<%- include('../partials/adminHeader.ejs')%>
                <!-- End of Topbar -->
              

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Total Users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= usercount %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-regular fa-cart-shopping"></i>                                       </div>
                                    
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Total product</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= productcount %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Total Oders</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= ordercount %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row gap-2 justify-content-center p-2">
                        <div class="col-md-7 mt-5 gbg" style="border-radius: 5px">
                          <canvas id="ordersStatusChart" class="h-100"> </canvas>
                        </div>
                        <div class="col-md-4 mt-5 gbg" style="border-radius: 5px">
                          <canvas id="Paystatus" class=""> </canvas>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" id="pending" value="<%= pending %>" />
                    <input type="hidden" id="completed" value="<%= completed %>" />
                    <input type="hidden" id="delivered" value="<%= delivered %>" />
                    <input type="hidden" id="cancelled" value="<%= cancelled %>" />
                    <input type="hidden" id="cod" value="<%= cod %>" />
                    <input type="hidden" id="online" value="<%= online %>" />
                  </section>
                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                  <script>
                    const ctx = document.getElementById("ordersStatusChart");
                    const ctx1 = document.getElementById("Paystatus");
                    const pending = Number(document.getElementById("pending").value);
                    const completed = Number(document.getElementById("completed").value);
                    const delivered = Number(document.getElementById("delivered").value);
                    const cancelled = Number(document.getElementById("cancelled").value);
                    const cod = Number(document.getElementById("cod").value);
                    const online = Number(document.getElementById("online").value);
                    new Chart(ctx, {
                      type: "bar",
                      data: {
                        labels: ["Pending", "Delivered", "Cancelled", "Completed"],
                        datasets: [
                          {
                            label: "No .of Orders",
                            data: [pending, delivered, cancelled, completed],
                            borderWidth: 2,
                            backgroundColor: ["#6698FF" , "#6698FF", "#6698FF", "#6698FF"],
                          },
                        ],
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true,
                          },
                        },
                      },
                    });
                    new Chart(ctx1, {
                      type: "pie",
                      data: {
                        labels: ["COD", "Online"],
                        datasets: [
                          {
                            label: "No .of Orders",
                            data: [cod, online],
                            borderWidth: 2,
                            backgroundColor: ["#98AFC7", "#6698FF"],
                          },
                        ],
                      },
                      options: {},
                    });
                  </script>
                    
                    
                  </main>
                </div>
              </div>
            <!-- End of Main Content -->

            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="submit" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/admin/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>