
<%- include('../partials/adminHeader.ejs')%>

<table class="table">
    <thead class="thead-white">
      <tr>
         <th scope="col">no</th> 
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col"></th>
        <th scope="col"></th>


      </tr>
    </thead>
    <% users.forEach(data =>{ %>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><%= data.full_name %></td>
        <td><%= data.email %></td>
        <td><%= data.phone %></td>
        <!-- <td><%= data.password %></td> -->
        <td class="align-middle">
            <a href="/admin/edit/<%= data._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                <i class="fa-sharp fa-solid fa-pen-to-square"></i>                        </a>
          </td>
          <% if (data.isBlock===false) { %>
          <td class="align-middle">
            <a href="/admin/blockuser/<%= data._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
              block
            </a>
          </td>
          <% } else { %>
          <td class="align-middle">
            <a href="/admin/unblockuser/<%= data._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
              unblock
            </a>
          </td>
          <% } %>
        
    </tr>
      
    </tbody>
    <%})%>

  </table>
  <%- include('../partials/footer.ejs')%>
 