<%- include('../partials/userheader.ejs')%>
<body>
  <% if(cart.length===0){ %>
  <center class="col-xl-12 col-md-6 col-sm-4 mt-5">
    <h1 class="mt-5">Sorry your cart is empty</h1>
    <img
      class="image-fluid col-xl-12 col-md-6 col-sm-4 mt-5"
      src="https://alphapharmaexhibitions.com/images/cartempty1.png"
      alt=""
      style="width: 14rem"
    /><br />
    <a
      class="btn btn-succes mb-5"
      href="/user/home"
      style="margin-top: 17px; color: green; border: solid green"
      >SHOP NOW</a
    >
  </center>
  <% }else{ %>
  <section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div
            class="card card-registration card-registration-2"
            style="border-radius: 15px"
          >
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5 border">
                    <div
                      class="d-flex justify-content-between align-items-center mb-5"
                    >
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    </div>
                    <% cart.forEach((cartData)=>{ %>
                    <hr class="my-4" />
                    <div
                      class="row mb-4 d-flex justify-content-between align-items-center"
                    >
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="<%= cartData.productDetail.image[0].url %> "
                          class="img-fluid rounded-3"
                          alt=""
                        />
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3 my-2">
                        <h6 class="text-black mb-0">
                          <%= cartData.productDetail.productName%>
                        </h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button
                          id="buttonNegative"
                          class="btn btn-danger h-5 text-light px-2"
                          <%
                          if
                          (cartData.productQuantity
                        >
                          1) { %> onclick="changeQuantity('<%= cartData._id
                          %>','<%= cartData.productDetail._id %>',-1) <% } %>">-
                        </button>

                        <p
                          class="px-3 fs-4"
                          id="<%= cartData.productDetail._id %>"
                        >
                          <%= cartData.productQuantity %>
                        </p>

                        <button
                          class="btn btn-primary h-5 text-light px-2"
                          <%
                          if
                          (cartData.productQuantity
                          <
                          (cartData.productDetail.stock-cartData.productDetail.soldCount))
                          {
                          %>
                          onclick="changeQuantity('<%= cartData._id %>','<%=
                          cartData.productDetail._id %>',1) <% } %>">+
                        </button>
                      </div>

                      <div
                        class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 d-flex justify-content-center my-2"
                      >
                        <h6 class="mb-0">
                          
                          Rs. <%=cartData.productDetail.price%>
                        </h6>
                      </div>
                      <div
                        class="col-md-1 col-lg-1 col-xl-1 text-end d-flex justify-content-center my-2"
                      >
                        <button
                          class="btn btn-danger"
                          onclick="deleteProduct('<%= cartData._id %>','<%= cartData.productDetail._id %>')"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 offset-lg-1">
                      <% if (cartData.productQuantity === (cartData.productDetail.stock-cartData.productDetail.soldCount))
                      { %>
                      <p class="text-danger">Sorry...Stock limit reached</p>
                      <% } %>
                    </div>
                    <% }) %>
                    <hr class="my-4" />
                    <div class="pt-5">
                      <h6 class="mb-0">
                        <a href="home" class="text-body"
                          ><i class="fas fa-long-arrow-alt-left me-2"></i>Back
                          to shop
                        </a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-4 text-light border border-secondary"
                  style="background-color: rgb(3, 3, 58)"
                >
                  <div class="p-5">
                    <% if(cart.length!==0){ %>
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4" />
                    <% cart.forEach((cartData)=>{ %>
                    <div class="d-flex justify-content-between mb-4">
                      <p><%= cartData.productDetail.productName%></p>
                      <h5 class="text-uppercase">Price</h5>

                      <p id="price">Rs.<%=cartData.productPrice %></p>
                    </div>
                    <% }) %>
                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5> -->
                    <!-- <div class="mb-4 pb-2">
                                                            <select class="select">
                                                                <option value="1">Standard-Delivery- rs5.00</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                                <option value="4">Four</option>
                                                            </select>
                                                        </div>
                                                            <h5 class="text-uppercase mb-3">Give code</h5>
                                                            <div class="mb-5">
                                                                <div class="form-outline">
                                                                    <input type="text" id="form3Examplea2" class="form-control form-control-lg"/>
                                                                <label class="form-label" for="form3Examplea2">Enter your code</label>
                                                            </div>
                                                        </div> -->
                    <hr class="my-4" />
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5 id="sum">Rs.<%= sum %></h5>
                    </div>
                    <% if(cart.length!==0){ %>
                    <a href="/user/checkout"
                      ><button
                        type="button"
                        class="btn btn-primary btn-block btn-lg"
                        data-mdb-ripple-color="dark"
                      >
                        Proceed to checkout
                      </button></a
                    >
                    <% } %> <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    // function changeQuantity(cartId, productId, count) {
    //   $.ajax({
    //     url: "/user/cartQuantity",
    //     data: {
    //       cart: cartId,
    //       product: productId,
    //       count,
    //     },
    //     method: "post",
    //     success: (res) => {
    //       // document.getElementById('quantity').innerText = Number(qty) + Number(count);
    //       location.reload();
    //       // $('#quantity').load(`${document.URL} #quantity`);
    //     },
    //   });
    // }

    function changeQuantity(cartId, productId, count) {
  $.ajax({
    url: '/user/cartQuantity',
    data: {
      cart: cartId,
      product: productId,
      count,
    },
    method: 'post',
    success: (res) => {
      // if (res.status) {
      //   document.getElementById(productId).innerHTML = Number(qty) + Number(count);
      // }

      location.reload();
      // $('#quantity').load(`${document.URL} #quantity`);
    },
  });
}




    function deleteProduct(cartId, productId) {
      $.ajax({
        url: "/user/deleteProduct",
        data: {
          cart: cartId,
          product: productId,
        },
        method: "post",
        success: () => {
          location.reload();
        },
      });
    }
  </script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>


